# NEON POSTGRES
DATABASE_URL=postgres://user:pass@ep-hostname.region.aws.neon.tech/neondb?sslmode=require

# NEXT AUTH
NEXTAUTH_SECRET=generate-a-long-random-string-here
NEXTAUTH_URL=http://localhost:3000

# VERCEL BLOB
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_...
